@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html{
  scroll-behavior: smooth;
}

body{
  font-family: "Nunito";
  background-color: #252525;
  color: #B3B3B3;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: -0.03em;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.1);
}

h1,
h2,
h3{
  font-family: "Raleway";
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

img{
  max-width: 100%;
}

.Colorbord {
  text-align: center;
}

.smm{
  text-shadow: 0 0 20px #E25E58;
  transition: all 0.3s ease;
}
.ugc{
  text-shadow: 0 0 20px #005FCC;
  transition: all 0.3s ease;
}

.smm:hover{
  transform: scale(1.2); /* Эффект при наведении */
  
}
.ugc:hover{
  transform: scale(1.2); /* Эффект при наведении */
}

.smm_ugc-text{
  font-family: "Raleway";
  font-weight: 700;
  font-size: 48px;
  letter-spacing: -0.03em;
  color: #EAEAEA;
  display: inline-block;
  margin: 250px auto 50px;
  text-transform: uppercase;
}

.container{
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-color: rgba(50, 50, 50, 0.85);
  backdrop-filter: blur(10px);
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.03em;
  padding: 20px 0;
  width: 100%;
}

.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 800;
  font-size: 20px;
  letter-spacing: -0.03em;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__nav {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.03em;
  display: flex;
  gap: 60px;
}

.header__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.03em;
  transition: all 0.3s ease;
  
}
.header__link:hover {
  transform: scale(1.2); /* Эффект при наведении */
}

.colorSMM:hover{
  color: #E25E58;
}
.colorUGC:hover{
  color: #005FCC;
}

.burger-menu {
  display: none;
}

/* Велком */
.main {
  margin-top: 129px;
}

.main__container{
  display: flex;
  justify-content: space-between;
}

h1{
  width: 500px;
  font-weight: 800;
  font-size: 48px;
  line-height: 1.19;
  letter-spacing: -0.01em;
  color: #EAEAEA;
  padding-top: 30px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.welcome__text {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.03em;  
  width: 393px;
  margin-top: 24px;
  margin-bottom: 88px;
  text-align: justify;
}

.btn {
  background: #9d9d9d;
  color: #fff;
  display: inline-flex;
  align-items: center;
  padding: 16px 28px;
  font-size: 18px;
  line-height: 0.25;
  gap: 10px;
  background: linear-gradient(45deg, #F09433 0%, #E6683C 25%, #DC2743 50%, #CC2366 75%, #BC1888 100%);
  color: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease; /* Время и тип анимации */
}
.btn::before{
  content: url('images/inst.svg');
}
.btn:hover {
    transform: scale(1.1); /* Эффект при наведении */
}

.inst{
  font-family: "Lobster", serif;
}
.strong-inst{
  font-family: "Lobster", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
}

.welcome__img {
  width: 550px;
  height: 550px;
  border-radius: 50%;
  margin-right: 93px;
  margin-left: 93px;
}


/* Скрол стрелка!!! */
/* Про мене */

.workText{
  margin-top: 220px;
  padding: 0 30px 0;
}

.accordion-content {
  font-size: 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  padding: 0 30px 30px;
}

.accordion-content.open {
  max-height: 1200px; /* Задай нужную высоту */
  transition: 1s;
}

.accordion-button {
  color: #EAEAEA;
  cursor: pointer;
  text-decoration: underline;
}

/* Загальні стилі для контейнера */
.accordion-content {
  background-color: #252525;
  color: #EAEAEA;
}

.accordion-content .container {
  max-width: 1250px;
  margin: 0 auto;
}

/* Стилі для заголовків */
.accordion-content h3 {
  font-weight: 700;
  color: #FFF;
}

.accordion-content h3 {
  font-size: 28px;
  margin-top: 30px;
  margin-bottom: 20px;
}

/* Стилі для текстових абзаців */
.accordion-content p {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Стилі для списків */
.accordion-content ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 20px;
}

.accordion-content ul li {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
}

.accordion-content ul li::before {
  content: '•';
  color: #E25E58;
  position: absolute;
  left: 0;
  font-size: 24px;
  top: -7px;
}

/* Кейси */
/* Видео скрол*/
.case-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden; 
  object-fit: cover;
  object-position: center;
}

.case-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 100%;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
  background-color: #EAEAEA;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
}

.case-container::-webkit-scrollbar {
  display: none; 
}

.case-item {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  color: #EAEAEA;
  position: relative;
}
.case-item:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.caseImg{
  width: 170px;
  height: 170px;
}

.scroll-button-case {
  border: none;
  cursor: pointer;
  padding: 25px;
}

.stopies__text{
  text-align: center;
  width: 70%;
  margin: 0 auto 70px;
}

.grids{
  margin-top: 50px;
  overflow: hidden; /* Защита от выпадения элементов */
}

.gridLogo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  border-radius: 3px;
  overflow: hidden; /* Убираем "выпадение" картинок за границы */
}


.gridImg {
  width: 100%;
  height: 550px;
  object-fit: cover; /* Обеспечит красивое обрезание изображений */
  display: block; /* Убираем лишние отступы у inline-элементов */
}

.work__text{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.case {
  color: #4e4e4e;
  box-sizing: border-box;
  margin: auto;
  background: #EAEAEA;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  height: 100%;
  overflow-y: auto;
}
p.title {
  font-size: 1.5em;
  font-weight: bold;
}
p.subtitle {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 20px;
}

        /* Кастомізація прокрутки */
        .case::-webkit-scrollbar {
          width: 10px;
      }
      .case::-webkit-scrollbar-track {
          background: #f9f9f9;
          border-radius: 8px;
      }
      .case::-webkit-scrollbar-thumb {
          background: #888;
          border-radius: 8px;
      }
      .case::-webkit-scrollbar-thumb:hover {
          background: #555;
      }

/* Фото скрол*/

.photo-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.photo-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.photo-container::-webkit-scrollbar {
  display: none;
}

.photo-item {
  flex: 0 0 auto;
  margin: 20px 20px 20px 0;
  width: 100%; /* Теперь фото займет всю доступную ширину */
  max-width: 350px; /* Максимальная ширина, чтобы на ПК не было слишком больших фото */
  border-radius: 20px;
  position: relative;
}

.lineVertical{
  height: 200px;
width: 1px;
background-color: red;
}

.stac{
  margin-right: 80px;
}

.photo-img {
  width: 87%;
  height: auto; /* Автоматическая высота, чтобы не было растяжений */
  max-height: 670px; /* Ограничиваем высоту, если нужно */
  object-fit: cover; /* Делаем, чтобы фото обрезалось красиво */
  border-radius: 40px;
  margin-left: 5px;
}

.photo-iphone {
  position: absolute;
  pointer-events: none;
  height: 100%;
  top: -10px;
  left: -1px;
}



.scroll-button {
  border: none;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  padding: 25px;
  z-index: 10;
  border-radius: 20px;
}

.scroll-button.left {
  left: -10px;
}

.scroll-button.right {
  right: 25px;
}

.arrow-right {
  display: none;
}


/* Визуал секция */

.visual__h2{
  margin: 178px auto 65px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #EAEAEA;
}

.visual__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  gap: 15px;
  padding: 15px;
  background-color: #ffffff04;
  border-radius: 10px;
}

.visual__img,
.visual__placeholder {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: 10px;
}

/* Текстовые блоки */

.visual__text-block {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E25E58;
  font-size: 26px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.visual__img, .visual__text-block {
  transition: opacity 2s ease-in-out;
}

/* Пример различных размеров изображений */
.visual__img--large {
  grid-column: span 2;
  grid-row: span 2;
}

.visual__img--medium {
  grid-column: span 2;
}
.visual__img--medium2 {
  grid-column: span 2;
}

.visual__img--tall {
  grid-row: span 2;
}

.visual__img--tallNew{
  grid-row: span 2;
}

.fade {
  animation: fadeOutIn 3s;
}

@keyframes fadeOutIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Проекты */
.project__h2{
  margin: 100px auto 65px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #EAEAEA;
}

/* Видео скрол*/

.video-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden; 
}

.video-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 100%;
  scrollbar-width: none; /* скрыть ползунок на Firefox */
  -ms-overflow-style: none; /* скрыть ползунок на IE и Edge */
}

.video-container::-webkit-scrollbar {
  display: none; /* скрыть ползунок на Chrome, Safari и Opera */
}

.video-item {
  flex: 0 0 auto;
  margin: 20px;
  color: #EAEAEA;
  position: relative;
  height: 100%;
}

.vid{
  border-radius: 15px;
  height: 570px;
  width: 320px;

}


.nameVideo{
  text-align: center;
}

.scroll-button {
  border: none;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  padding: 25px;
  z-index: 10;
  border-radius: 20px;
}

.scroll-button.left {
  left: -10px;
}

.scroll-button.right {
  right: 25px;
}

.arrow-right {
  display: none;
}

/* Прайс */
.pricing {
  background-color: #252525;
  color: #EAEAEA;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 20px;
}

.pricing .container {
  max-width: 1250px;
  margin: 0 auto;
}

.pricing h2 {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 40px;
}

.pricing-table table {
  width: 100%;
  border-collapse: collapse;
  
}

.pricing-table th, .pricing-table td {
  padding: 16px; /* Увеличиваем отступы */
  font-size: 18px; /* Увеличиваем размер шрифта */
  border-bottom: 1px solid #444;
  
}

.pricing-table th {
  background-color: #323232;
  font-weight: bold;
}

.pricing-table ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pricing-table ul li {
  margin-bottom: 8px; /* Увеличиваем отступы между элементами списка */
  font-size: 18px; /* Увеличиваем размер шрифта */
}

.pricing-table td:last-child {
  font-weight: 700;
  font-size: 24px;
  background-color: #2a2a2a;
}

.slider-wrapper {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.slider-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  scroll-behavior: smooth;
}

.pricing-table {
  width: 100%;
  max-width: 1250px; /* Задайте максимальную ширину для таблицы */
  margin: auto; /* Центрирование таблицы */
  transition: opacity 0.5s ease-in-out;
}

.pricing-table-wrapper{
  display: flex;
  margin: 30px auto 30px;
  height: auto;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: #000;
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
}

.slider-btn.left {
  left: 10px;
}

.slider-btn.right {
  right: 10px;
}

#planSlider {
  width: 70%;
  margin: 20px 0;
  -webkit-appearance: none; /* Убирает стандартное оформление ползунка для WebKit браузеров */
  appearance: none; /* Убирает стандартное оформление ползунка для всех браузеров */
  border-radius: 50%;
}

/* Стиль ползунка для Chrome, Safari */
#planSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 34px;
  height: 34px;
  background: #E25E58;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

/* Увеличение при наведении */
#planSlider::-webkit-slider-thumb:hover {
  transform: scale(1.1);
}

/* Стиль ползунка для Firefox */
#planSlider::-moz-range-thumb {
  width: 34px;
  height: 34px;
  background: #E25E58;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

/* Увеличение при наведении в Firefox */
#planSlider::-moz-range-thumb:hover {
  transform: scale(1.1);
}

#planSlider::-webkit-slider-runnable-track {
  width: 100%;
  height: 16px;
  background: #ddd;
  border-radius: 18px;
  position: relative;
}

#planSlider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Убирает стандартное оформление бегунка для WebKit браузеров */
  appearance: none; /* Убирает стандартное оформление бегунка для всех браузеров */
  width: 34px; /* Увеличиваем размер бегунка */
  height: 34px; /* Увеличиваем размер бегунка */
  background: #E25E58;
  cursor: pointer;
  border-radius: 50%;
  margin-top: -9px; /* Поднятие бегунка для центрирования */
}

#planSlider::-moz-range-track {
  width: 100%;
  height: 16px; /* Увеличиваем высоту дорожки */
  background: #ddd;
  border-radius: 8px;
}

#planSlider::-moz-range-thumb {
  width: 34px; /* Увеличиваем размер бегунка */
  height: 34px; /* Увеличиваем размер бегунка */
  background: #E25E58;
  cursor: pointer;
  border-radius: 50%;
}

/* Добавление разделителей */
#planSlider::before, #planSlider::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 1px;
  height: 16px;
  background: #000;
  transform: translateY(-50%);
}

#planSlider::before {
  left: 33.3%;
}

#planSlider::after {
  right: 33.3%;
}

.nameTarifs{
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.tarif {
  color: #959595; /* Обычный цвет текста */
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.03em;
}

.tarif.active {
  color: #E25E58; /* Цвет активного текста */
}

/* Контакты */
.contact {
  margin-top: 240px;
  margin-bottom: 120px;
}

.contact__container {
  max-width: 520px;
  text-align: center;
}

.contact__h2 {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  letter-spacing: -0.5px;
  color: #EAEAEA;
}

.contact__text{
  font-size: 26px;
  margin-bottom: 48px;
}

.contact__text2{
  font-size: 26px;
  margin: 58px auto 25px;
}

/* Футер */
.footer {
  border-top: 1px solid #696969;
}

.conainer__footer{
  margin-top: 48px;
  margin-bottom: 36px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

span{
  color: #ECECEC;
}

.links {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.footer__link {
  width: 70px;
}

.footer__img{
  width: 50px;
  transition: all 0.3s ease;
}
.footer__img:hover{
  transform: scale(1.2); /* Эффект при наведении */
  filter: brightness(1.2);
}

.copirite{
  font-size: 16px;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}





@media (max-width: 1150px){
.welcome__img {
  margin-right: 0;
  margin-left: 0;
  }
}

@media (max-width: 1100px){
  .tallBig {
    grid-row: span 2;
  }
  .mediumBig{
    grid-column: span 2;
  }
  .project__img {
    height: 640px;
    width: auto;
    object-fit: cover;
    object-position: center;
  }

  .welcome__img {
    margin-right: 50px;
    margin-left: 5px;
  }
}

@media (max-width: 1080px){
  .welcome__img {
    width: 500px;
    height: 500px;
  }
}

  @media (max-width: 1050px){
  .grids{
    grid-template-columns: 1fr;
  }
  .gridImg {
    height: 410px;
  }

  .welcome__img {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 1000px) {
  .header__nav {
    display: flex;
    gap: 30px;
  }

  .header__link {
    font-size: 20px;
  }
}

@media (max-width: 964px){

  .project__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Гибкая сетка */
    gap: 24px;
    justify-content: center; /* Важно для центрирования */
    max-width: 1000px; /* Чтобы сетка не растягивалась */
    margin: 0 auto; /* Центрирует весь контейнер */
    width: 100%; /* Гарантированная адаптивность */
  }
  
  .project__wrapper > *:nth-last-child(1):nth-child(odd) {
    grid-column: 1 / -1; /* Растягиваем последний элемент на всю ширину */
    justify-self: center; /* Центрируем внутри */
    max-width: 560px; /* Чтобы не был слишком широким */
  }

  .work__name {
    display: none;
  }
}

@media (max-width: 950px) {
  .vid{
    height: 798px;
    width: 448px;
  
  }
  .iphone{
    height: 863px;
    top: -10px;
    left: -1px;
  }

  .welcome__img {
    margin-right: 0;
  }

  .main {
    margin-top: 70px;
  }

  .main__container{
    flex-direction: column-reverse;
    align-items: center;
    gap: 35px;
  }
  
  .welcome__desc{
    text-align: center;
    padding: 0 20px;
  }

  h1{
    width: auto;
  }

  .welcome__text {
    width: auto;
    margin-bottom: 48px;
  }

  .contact {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact__container {
    align-items: center;
  }

  .conainer__footer{
    margin-top: 48px;
    margin-bottom: 36px;
    flex-direction: column-reverse;
    align-items: center;
  }
  .copirite {
    margin-top: 35px;
  }

  .visual__h2{
    margin-top: 116px;
  }

  .project__h2{
    margin-top: 100px;
  }

  .scroll-button,
  .scroll-button-case {
    display: none;
  }

  .arrow-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
  }

  .workText{
    margin-top: 140px;
  }
}

@media (max-width: 905px){
  .tallBig {
    grid-row: span 1;
  }
  .mediumBig{
    grid-column: span 1;
  }

  .mediumMedium{
    grid-column: span 2;
  }

  .visual__img--tallNew{
    grid-row: span 1;
    grid-column: span 2;
  }
}

@media (max-width: 880px) {
  .header__nav {
    display: flex;
    gap: 30px;
    margin-left: 20px;
  }

  .smm_ugc-text{
    font-size: 38px;
  }

  .gridImg {
    height: 350px;
  }

  .header__link {
    font-size: 15px;
  }
}

@media (max-width: 750px){
  .case-item {
    margin: 5px;
  }
  .gridImg {
    height: 280px;
  }
  .gridLogo {
    gap: 15px;
  }

  .welcome__img {
    width: 340px;
    height: 340px;
  }

  .header__nav {
    gap: 20px;
  }

  h1{
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.5px;
    opacity: 0.66;
  }
  .welcome__text{
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #959595;
  }

  .contact__text{
    font-size: 22px;
  }

  .about-me h2 {
    font-size: 28px;
}

.accordion-content h3 {
    font-size: 24px;
}

.accordion-content p, .accordion-content ul li {
    font-size: 16px;
}

.pricing-table th,
.pricing-table td {
    padding: 10px;
    font-size: 16px;
}
.pricing {
  margin-top: 100px;
}

.tarif {
  font-size: 15px;
}
}

@media (max-width: 690px){
  .largeSmall{
    grid-column: span 2;
  }
  .mediumSmall{
    grid-row: span 2;
  }
  .visual__img--medium2 {
    display: none;
  }
}

@media (max-width: 650px){
  .header {
    position: relative;
  }
  
  .header .container {
    display: flex;
    justify-content: space-between; /* Логотип и бургер остаются на своих местах */
    align-items: center;
    flex-direction: row !important; /* Принудительно строка */
  }

  .burger-menu {
    display: block;
    position: absolute;
    right: 25px;
    top: 30px;
  }

  .burger-img {
    height: 30px;
  }

  .header__nav {
    position: absolute;
    top: 80px;
    right: 0;
    width: 220px;
    background: #3232326a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7px 0;
    opacity: 0;
    transform: translateY(-50px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    border-bottom-left-radius: 20px;
  }

  .header--mobile .header__nav {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all; /* Включаем клики, когда меню открыто */
  }
  
  .header--mobile .container{
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .welcome__img {
    width: 240px;
    height: 240px;
  }

  .contact__text{
    margin-bottom: 48px;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
  }

  .btn {
    padding: 16px 22px;
  }
  
  .copirite {
    margin-top: 35px;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: -0.03em;
  }
}

@media (max-width: 600px){
  .gridImg {
    height: 230px;
  }

  .smm_ugc-text{
    font-size: 30px;
  }
}

@media (max-width: 510px) {
  .vid{
    height: 718.2px;
    width: 439.2px;
  
  }
  .iphone{
    height: 781px;
    top: -10px;
    left: -1px;
  }

  .accordion-content {
    margin-bottom: 10px;
  }

  .pricing-table th,
  .pricing-table td {
      padding: 10px;
      font-size: 11px;
  }
  .pricing {
    margin-top: 150px;
  }

  .tarif {
    font-size: 12px;
  }

  h1{
    width: auto;
  }

  .welcome__text {
    width: auto;
  }
}

@media (max-width: 490px) {
  .vid{
    height: 658px;
    width: 406px;
  
  }
  .iphone{
    height: 719px;
    top: -10px;
    left: -1px;
  }

  .visual__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    justify-items: center;
  }

  .visual__text-block {
    display: none;
  }

  .visual__img--large,
  .visual__img--medium,
  .visual__img--tall,
  .visual__text-block--large,
  .visual__text-block--medium,
  .visual__text-block--tall {
    grid-column: unset;
    grid-row: unset;
  }
}

@media (max-width: 455px){
  .vid{
    height: 592px;
    width: 365px;
  
  }
  .iphone{
    height: 653px;
    top: -10px;
    left: -1px;
  }

  .gridImg {
    height: 200px;
  }
  .gridLogo {
    gap: 5px;
  }
}

@media (max-width: 430px) {
  .vid{
    height: 627px;
    width: 352px;
  
  }
  .iphone{
    height: 685px;
    top: -10px;
    left: -1px;
  }
}

@media (max-width: 400px) {
  .vid{
    height: 564px;
    width: 316px;
  
  }
  .iphone{
    height: 622px;
    top: -10px;
    left: -1px;
  }
}

@media (max-width: 370px) {
  .gridImg {
    height: 160px;
  }
  .vid{
    height: 484px;
    width: 272px;
  
  }
  .iphone{
    height: 541px;
    top: -10px;
    left: -1px;
  }
}